In [ ]:
#1
fruits=["apple", "mango", "orange", "pineapple"]

print(fruits[3])

pineapple

In [ ]:
#2
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]

combine_number=list1+list2

print(combine_number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
#3
numbers=[15,20,25,30,35,40,45]

first_number=numbers[0]
middle_number=numbers[len(numbers)//2]
last_number=numbers[-1]

list_number=[first_number,middle_number,last_number]

print(list_number)

[15, 30, 45]

In [27]:
#4
movies=["the lord of the rings","the hobbit", "astral", "harry potter", "man of steel"]

tuple=tuple(movies)

print(tuple)

('the lord of the rings', 'the hobbit', 'astral', 'harry potter', 'man of steel')

In [28]:
#5
cities=["texas", "berlin", "moscow", "paris", "london"]

if "paris" in cities:
    print("yes")
else:
    print("no")

yes

In [29]:
#6
numbers=[1,2,3,4]

duplicates=numbers*2

print(duplicates)

[1, 2, 3, 4, 1, 2, 3, 4]

In [31]:
#7
numbers=[1,2,3,4]

numbers[0], numbers[-1]=numbers[-1], numbers[0]

print(numbers)

[4, 2, 3, 1]

In [32]:
#8
numbers=(1,2,3,4,5,6,7,8,9,10)

tuple=numbers[3:8]

print(tuple)

(4, 5, 6, 7, 8)

In [33]:
#9
colors=["red","blue", "yellow", "black", "blue", "green"]

number_of_blue=colors.count("blue")

print(number_of_blue)

2

In [34]:
#10

animals=("bear", "cheetah", "lion", "wolf", "cat")

index_lion=animals.index("lion")

print(f'index of "lion" is {index_lion}')

index of "lion" is 2

In [36]:
#11
tuple1=(1,2,3,4,5)
tuple2=(6,7,8,9,10)

tuple_numbers=tuple1+ tuple2

print(tuple_numbers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [42]:
#12

numbers_list = [1, 2, 3, 4, 5, 6, 7, 8]
numbers_tuple = (10, 20, 30, 40, 50)


print(f"Length of the list: {len(numbers_list)}")
print(f"Length of the tuple: {len(numbers_tuple)}")

Length of the list: 8
Length of the tuple: 5

In [43]:
#13
numbers=(16,23,45,52,90,3,22)

max_value=max(numbers)
min_value=min(numbers)

print(f"maximum:{max_value}")
print(f"minimum:{min_value}")

maximum:90
minimum:3

In [44]:
#14
numberstuple=(5,20,25,30,35)

numbers_list=list(numberstuple)

print(numbers_list)

[5, 20, 25, 30, 35]

In [45]:
#15
words_tuple=("last","many", "movie", "first")

reversed_tuple=words_tuple[: :-1]

print(reversed_tuple)

('first', 'movie', 'many', 'last')